{% extends 'bootstrap_3_layout.html.twig' %}

{% form_theme form _self %}

{% block form_label %}
{% spaceless %}
    {{ parent() }}
    {% if required and label %}
        <span class="required-asterisk">*</span>
    {% endif %}
{% endspaceless %}
{% endblock %}


{% block checkbox_widget %}
{% spaceless %}
    <div class="checkbox">
        <label for="{{ id }}">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %}
                value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {{ label|trans({}, translation_domain) }}
        </label>
    </div>
{% endspaceless %}
{% endblock checkbox_widget %}

{# vendor/misd/phone-number-bundle/Resources/views/Form/tel_bootstrap.html.twig #}
{% block tel_widget -%}
    {% if widget is constant('Misd\\PhoneNumberBundle\\Form\\Type\\PhoneNumberType::WIDGET_COUNTRY_CHOICE') %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) %}
        <div {{ block('widget_container_attributes') }}>
            {{- form_widget(form.country) -}}
            {{- form_widget(form.number) -}}
        </div>
    {% else -%}
        {{- block('form_widget_simple') -}}
    {%- endif %}
{%- endblock tel_widget %}
