{% extends 'AppBundle:Layouts:my.html.twig' %}

{% block title %}{{ 'My Actions' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'My Actions' | trans }}</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Key', 'ua.key') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Message', 'ua.message') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'IP', 'ua.ip') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'User Agent', 'ua.userAgent') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Time', 'ua.createdAt') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for userAction in pagination %}
                    <tr>
                        <td>{{ userAction.getKey() }}</td>
                        <td>{{ userAction.getMessage() }}</td>
                        <td>{{ userAction.getIp() }}</td>
                        <td>{{ userAction.getUserAgent() }}</td>
                        <td>{{ userAction.getCreatedAt() | date(globals.date_time_format) }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">
                            {{ 'my.actions.no_actions_yet.text' | trans }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
