{% extends 'AppBundle:Layouts:my.html.twig' %}

{% block title %}{{ 'My Settings' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'My Settings' | trans }}</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-md-6">
                <h3>{{ 'Profile' | trans }}</h3>
                {{ form_row(form.profile.title) }}
                {{ form_row(form.profile.firstName) }}
                {{ form_row(form.profile.lastName) }}
                {{ form_row(form.profile.gender) }}
                {{ form_row(form.profile.birthday) }}
            </div>
            <div class="col-md-6">
                <h3>{{ 'Account' | trans }}</h3>
                {{ form_row(form.username) }}
                {{ form_row(form.locale) }}
            </div>
        </div> <!-- /.row -->
        <div class="row">
            <div class="col-md-6">
                <h3>{{ 'Email' | trans }}</h3>
                <div class="form-group">
                    {% if app.user.isEmailActivated() %}
                        <i class="fa fa-check-circle-o"
                            title="{{ 'my.settings.email.is_activated.text' | trans({
                                '%activated_at%': app.user.getEmailActivatedAt() | date(globals.date_time_format)
                            }) }}"
                        ></i>
                    {% endif %}
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                {% if app.user.isEmailActivated() == false %}
                    <div class="alert alert-info">
                        {{ 'my.settings.email.is_not_activated_yet.text' | trans({
                            '%resend_link%': url('my.settings', {
                                action: 'resend_activation_email',
                            })
                        }) | raw }}
                    </div>
                {% endif %}
                {% if app.user.getNewEmail() %}
                    <div class="alert alert-info">
                        {{ 'my.settings.new_email.request.text' | trans({
                            '%email%': app.user.getNewEmail(),
                        }) }}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h3>{{ 'Mobile' | trans }}</h3>
                <div class="form-group">
                    {% if app.user.isMobileActivated() %}
                        <i class="fa fa-check-circle-o"
                            title="{{ 'my.settings.mobile.is_activated.text' | trans({
                                '%activated_at%': app.user.getMobileActivatedAt() | date(globals.date_time_format)
                            }) }}"
                        ></i>
                    {% endif %}
                    {{ form_label(form.mobile) }}
                    {{ form_widget(form.mobile) }}
                    {{ form_errors(form.mobile) }}
                </div>
                {% if app.user.isMobileActivated() == false and app.user.getMobile() %}
                    <div class="alert alert-warning">
                        {{ 'my.settings.mobile.is_not_activated_yet.text' | trans({
                            '%resend_link%': url('my.settings', {
                                action: 'resend_activation_mobile',
                            })
                        }) | raw }}
                    </div>
                {% endif %}
                {% if app.user.getNewMobile() %}
                    <div class="alert alert-info">
                        {{ 'my.settings.new_mobile.request.text' | trans({
                            '%mobile%': app.user.getNewMobile() | phone_number_format('INTERNATIONAL'),
                        }) }}
                        <div class="form-group">
                            <label for="new-mobile-code-input">
                                {{ 'Code:' | trans }}
                            </label>
                            <div class="input-group">
                                <input id="new-mobile-code-input"
                                    class="form-control"
                                    name="new_mobile_code">
                                <span class="input-group-btn">
                                    <button id="new-mobile-code-button"
                                        class="btn btn-default"
                                        type="button">
                                        {{ 'Submit' | trans }}
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div> <!-- /.row -->
        <button type="submit"
            class="btn btn-primary btn-lg btn-block" />
            {{ 'Save' | trans }}
        </button>
    {{ form_end(form) }}
{% endblock %}

{% block body_javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function() {
            $('#new-mobile-code-button').on('click', function() {
                window.location.href = '?new_mobile_code=' +
                    $('#new-mobile-code-input').val();
            });
        });
    </script>
{% endblock %}
