{% extends 'AppBundle:Layouts:default.html.twig' %}

{% block title %}{{ 'Trusted devices' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'My Trusted devices' | trans }}</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'Name' | trans }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'IP', 'utd.ip') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Last active', 'utd.lastActiveAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Expires', 'utd.expiresAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Time', 'utd.createdAt') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for userTrustedDevices in pagination %}
                    <tr>
                        <td>{{ userTrustedDevices }}</td>
                        <td>{{ userTrustedDevices.getIp() }}</td>
                        <td>{{ userTrustedDevices.getLastActiveAt()
                            ? userTrustedDevices.getLastActiveAt() | date(globals.date_time_format)
                            : '' }}</td>
                        <td>{{ userTrustedDevices.getExpiresAt()
                            ? userTrustedDevices.getExpiresAt() | date(globals.date_time_format)
                            : '' }}</td>
                        <td>{{ userTrustedDevices.getCreatedAt() | date(globals.date_time_format) }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">
                            {{ 'my.trusted_devices.no_trusted_devices_yet' | trans }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
