{% extends 'AppBundle:Layouts:default.html.twig' %}

{% block title %}{{ 'My Two-factor authentication' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'My Two-factor authentication' | trans }}</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <h2>{{ 'Status' | trans }}</h2>
        {{ form_row(form.twoFactorAuthenticationEnabled) }}
        {{ form_row(form.twoFactorAuthenticationDefaultMethod) }}
        <h3>{{ 'Email' | trans }}</h3>
        {{ form_row(form.twoFactorAuthenticationEmailEnabled) }}
        <hr />
        <button type="submit"
            class="btn btn-primary btn-lg btn-block" />
            {{ 'Save' | trans }}
        </button>
    {{ form_end(form) }}
{% endblock %}
