{% extends 'AppBundle:Layouts:default.html.twig' %}

{% block title %}{{ 'My Two-factor authentication' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'My Two-factor authentication' | trans }}</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        <h2>{{ 'Status' | trans }}</h2>
        {{ form_row(form.twoFactorAuthenticationEnabled) }}
        {{ form_row(form.twoFactorAuthenticationDefaultMethod) }}
        <h3>{{ 'Email' | trans }}</h3>
        {{ form_row(form.twoFactorAuthenticationEmailEnabled) }}
        <a href="{{ url('my.two_factor_authentication.login_codes') }}"
            class="btn btn-default">
            {{ 'Show history' | trans }}
        </a>
        <h3>{{ 'Backup codes' | trans }}</h3>
        <p>{{ 'In case you do not have any of the 2FA methods near you, you can always login with the backup codes.' | trans }}</p>
        <a href="{{ url('my.two_factor_authentication.backup_codes') }}"
            class="btn btn-default">
            {{ 'Show codes' | trans }}
        </a>
        <h3>{{ 'Trusted devices' | trans }}</h3>
        <p>{{ 'Here you can see all your trusted devices.' | trans }}</p>
        <a href="{{ url('my.two_factor_authentication.trusted_devices') }}"
            class="btn btn-default">
            {{ 'Show trusted devices' | trans }}
        </a>
        <hr />
        <button type="submit"
            class="btn btn-primary btn-lg btn-block" />
            {{ 'Save' | trans }}
        </button>
    {{ form_end(form) }}
{% endblock %}
