{% extends 'AppBundle:Layouts:my.html.twig' %}

{% block title %}{{ 'Recovery codes' | trans }} | {{ 'My Two-factor authentication' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>
        {{ 'My Two-factor authentication' | trans }}
        <a class="btn btn-default"
            href="{{ url('my.tfa') }}">
            {{ 'back' | trans }}
        </a>
    </h1>
    <h2>
        {{ 'Recovery codes' | trans }}
        {% if app.user.getUserRecoveryCodes() is not empty %}
            <a class="btn btn-danger"
                href="{{ url('my.tfa.recovery_codes', {
                    action: 'generate',
                }) }}">
                {{ 'Regenerate' | trans }}
            </a>
        {% else %}
            <a class="btn btn-success"
                href="{{ url('my.tfa.recovery_codes', {
                    action: 'generate',
                }) }}">
                {{ 'Generate' | trans }}
            </a>
        {% endif %}
    </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Code', 'urc.code') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Used', 'urc.usedAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Time', 'urc.createdAt') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for userRecoveryCode in pagination %}
                    <tr>
                        <td>{{ userRecoveryCode.getCode() }}</td>
                        <td>{{ userRecoveryCode.getUsedAt()
                            ? userRecoveryCode.getUsedAt() | date(globals.date_time_format)
                            : '' }}</td>
                        <td>{{ userRecoveryCode.getCreatedAt() | date(globals.date_time_format) }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">
                            {{ 'my.tfa.recovery_codes.no_recovery_codes_yet.text' | trans }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
