{% extends 'AppBundle:Layouts:email.html.twig' %}

{% block main %}
    <table class="row note">
        <tr>
            <td class="wrapper last">
                <h4>{{ 'emails.general.greeting' | trans({
                    '%user_name%': user.getName(),
                }) }}</h4>
                <p>{{ 'emails.user.login.tfa.text' | trans({
                    '%code%': '<b>' ~ user_login_code.getCode() ~ '</b>',
                    '%expires_at%': '<b>' ~ user_login_code.getExpiresAt() | date(globals.date_time_format) ~ '</b>',
                }) | raw }}</p>
                <table class="twelve columns">
                    <tr>
                        <td class="panel">
                            <a href="{{ url('login.tfa', {
                                code: user_login_code.getCode(),
                            }) }}"
                                target="_blank">
                                {{ url('login.tfa', {
                                    code: user_login_code.getCode(),
                                }) }}
                            </a>
                        </td>
                        <td class="expander"></td>
                    </tr>
                </table>
                <p>{{ 'emails.general.copy_paste_link_into_browser.text' | trans }}</p>
            </td>
        </tr>
    </table>
{% endblock %}
