{% set flash_messages = app.session.flashBag().all() %}
{% set is_container_fluid = is_container_fluid is defined ? is_container_fluid : true %}
<!DOCTYPE html>
<html id="html"
    class="{% block html_class %}{% endblock %}"
    lang="{{ globals.locale }}"
    {% block html_attr %}{% endblock %}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{{ globals.app_name }}{% endblock %}</title>
        {% block metas %}
            <meta name="application-name" content="{{ globals.app_name }}">
            <meta name="description" content="{{ globals.description }}">
            <link rel="author" href="{{ asset('humans.txt') }}">
            <link rel="manifest" href="{{ asset('manifest.json') }}">
            <link rel="copyright" href="{{ globals.copyright }}">
            <meta name="mobile-web-app-capable" content="yes">
            <meta name="msapplication-tooltip" content="{{ globals.description }}">
            <meta name="msapplication-starturl" content="{{ url('home') }}">
            <meta name="msapplication-config" content="{{ asset('browserconfig.xml') }}">
            {% include 'CoreBundle:Layouts:default/_head_icons.html.twig' %}
        {% endblock %}
        <!-- Stylesheets -->
        {% block stylesheets_before %}{% endblock %}
        {% block stylesheets %}
            {% stylesheets
                'assets/vendor/animate.css/animate.min.css'
                'assets/vendor/font-awesome/css/font-awesome.min.css'
                'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
                'assets/vendor/toastr/toastr.min.css'
                'assets/css/app.css'
                filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
        {% block stylesheets_after %}{% endblock %}
        <!-- Stylesheets /END -->
        <!-- Head Javascripts -->
        <script id="config-js">
            {% block config_javascript %}
                var baseUrl = '{{ url('home') | trim('/') }}';
                var user = {{ app.user ? (app.user.toArray() | json_encode | raw) : 'null' }};
                var version = '{{ globals.version }}';
                var flashMessages = {{ flash_messages | json_encode | raw }};
            {% endblock %}
        </script>
        {% block head_javascripts_before %}{% endblock %}
        {% block head_javascripts %}{% endblock %}
        {% block head_javascripts_after %}{% endblock %}
        <!-- Head Javascripts /END -->
    </head>
    <body id="body"
        class="{% block body_class %}{% endblock %}"
        {% block body_attr %}{% endblock %}>
        <div id="application" role="application">
            {% block application %}
                <div id="wrapper">
                    {% block wrapper %}
                        <div id="page-wrapper">
                            <div id="page-content">
                                <header id="header" role="banner">
                                    {% block header %}
                                        {% include 'CoreBundle:Layouts:default/_header.html.twig' %}
                                    {% endblock %}
                                </header> <!-- /#header -->
                                <div id="content">
                                    {% block content %}
                                        <div id="main" role="main">
                                            <div class="container{{ is_container_fluid ? '-fluid' : '' }}">
                                                {% include 'CoreBundle:Layouts:default/_flash_messages.html.twig' %}
                                                {% block main %}{% endblock %}
                                            </div>
                                        </div> <!-- /#main -->
                                    {% endblock %}
                                </div> <!-- /#content -->
                            </div> <!-- /#page-content -->
                        </div> <!-- /#page-wrapper -->
                        <footer id="footer" role="contentinfo">
                            {% block footer %}
                                {% include 'CoreBundle:Layouts:default/_footer.html.twig' %}
                            {% endblock %}
                        </footer> <!-- /#footer -->
                    {% endblock %}
                </div> <!-- /#wrapper -->
                {% block wrapper_after %}{% endblock %}
            {% endblock %}
        </div> <!-- /#application -->
        <!-- Body Javascripts -->
        {% block body_javascripts_before %}{% endblock %}
        {% block body_javascripts %}
            {% javascripts
                'assets/vendor/jquery/dist/jquery.min.js'
                'assets/vendor/jquery-migrate/jquery-migrate.min.js'
                'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
                'assets/vendor/toastr/toastr.min.js'
                'assets/vendor/moment/min/moment-with-locales.min.js'
                'assets/js/app.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block body_javascripts_after %}{% endblock %}
        <!-- Body Javascripts /END -->
    </body>
</html>
