{% set flash_messages = app.session.flashBag().all() %}
{% set is_container_fluid = is_container_fluid is defined ? is_container_fluid : true %}
<!DOCTYPE html>
<html id="html"
    class="{% block html_class %}{% endblock %}"
    lang="{{ globals.locale }}"
    {% block html_attr %}{% endblock %}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{{ globals.app_name }}{% endblock %}</title>
        {% block metas %}
            <meta name="application-name" content="{{ globals.app_name }}">
            <meta name="description" content="{{ globals.description }}">
            <link rel="author" href="{{ asset('humans.txt') }}">
            <link rel="manifest" href="{{ asset('manifest.json') }}">
            <link rel="copyright" href="{{ globals.copyright }}">
            <meta name="mobile-web-app-capable" content="yes">
            <meta name="msapplication-tooltip" content="{{ globals.description }}">
            <meta name="msapplication-starturl" content="{{ url('home') }}">
            <meta name="msapplication-config" content="{{ asset('browserconfig.xml') }}">
            {% include 'CoreBundle:Layouts:default/_head_icons.html.twig' %}
        {% endblock %}
        <!-- Stylesheets -->
        {% block stylesheets_before %}{% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"
                integrity="sha256-HtCCUh9Hkh//8U1OwcbD8epVEUdBvuI8wj1KtqMhNkI="
                crossorigin="anonymous" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css"
                integrity="sha256-R91pD48xW+oHbpJYGn5xR0Q7tMhH4xOrWn1QqMRINtA="
                crossorigin="anonymous" />
            <link rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
                crossorigin="anonymous">
            <link rel="stylesheet"
                href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
                integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
                crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
        {% endblock %}
        {% block stylesheets_after %}{% endblock %}
        <!-- Stylesheets /END -->
        <!-- Head Javascripts -->
        <script id="config-js">
            {% block config_javascript %}
                var baseUrl = '{{ url('home') | trim('/') }}';
                var user = {{ app.user ? (app.user.toArray() | json_encode | raw) : 'null' }};
                var version = '{{ globals.version }}';
                var flashMessages = {{ flash_messages | json_encode | raw }};
            {% endblock %}
        </script>
        {% block head_javascripts_before %}{% endblock %}
        {% block head_javascripts %}{% endblock %}
        {% block head_javascripts_after %}{% endblock %}
        <!-- Head Javascripts /END -->
    </head>
    <body id="body"
        class="{% block body_class %}{% endblock %}"
        {% block body_attr %}{% endblock %}>
        <div id="application" role="application">
            {% block application %}
                <div id="wrapper">
                    {% block wrapper %}
                        <div id="page-wrapper">
                            <div id="page-content">
                                <header id="header" role="banner">
                                    {% block header %}
                                        {% include 'CoreBundle:Layouts:default/_header.html.twig' %}
                                    {% endblock %}
                                </header> <!-- /#header -->
                                <div id="content">
                                    {% block content %}
                                        <div id="main" role="main">
                                            <div class="container{{ is_container_fluid ? '-fluid' : '' }}">
                                                {% include 'CoreBundle:Layouts:default/_flash_messages.html.twig' %}
                                                {% block main %}{% endblock %}
                                            </div>
                                        </div> <!-- /#main -->
                                    {% endblock %}
                                </div> <!-- /#content -->
                            </div> <!-- /#page-content -->
                        </div> <!-- /#page-wrapper -->
                        <footer id="footer" role="contentinfo">
                            {% block footer %}
                                {% include 'CoreBundle:Layouts:default/_footer.html.twig' %}
                            {% endblock %}
                        </footer> <!-- /#footer -->
                    {% endblock %}
                </div> <!-- /#wrapper -->
                {% block wrapper_after %}{% endblock %}
            {% endblock %}
        </div> <!-- /#application -->
        <!-- Body Javascripts -->
        {% block body_javascripts_before %}{% endblock %}
        {% block body_javascripts %}
            <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
            <script
                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"
                integrity="sha256-yNbKY1y6h2rbVcQtf0b8lq4a+xpktyFc3pSYoGAY1qQ="
                crossorigin="anonymous"></script>
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"
                integrity="sha256-AdQN98MVZs44Eq2yTwtoKufhnU+uZ7v2kXnD5vqzZVo="
                crossorigin="anonymous"></script>
            <script src="{{ asset('assets/js/app.js') }}"></script>
        {% endblock %}
        {% block body_javascripts_after %}{% endblock %}
        <!-- Body Javascripts /END -->
    </body>
</html>
