{% extends 'AppBundle:Layouts:default.html.twig' %}

{% set is_container_fluid = false %}

{% block title %}{{ 'Reset Password' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Reset Password' | trans }}</h1>
    {% if alert %}
        <div class="alert alert-{{ alert }}">
            {{ alert_message | trans }}
        </div>
    {% endif %}
    {# Only show the form, if the validation wasn't successful #}
    {% if alert != 'success' %}
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit"
                class="btn btn-block btn-lg btn-primary" />
                {{ 'Reset Password' | trans }}
            </button>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
