{% extends 'CoreBundle:Layouts:my.html.twig' %}

{% block title %}{{ 'My Password' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'My Password' | trans }}</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.oldPassword) }}
        {{ form_row(form.plainPassword) }}
        <button type="submit"
            class="btn btn-primary btn-lg btn-block" />
            {{ 'Save' | trans }}
        </button>
    {{ form_end(form) }}
{% endblock %}
