{% extends 'AppBundle:Layouts:email.html.twig' %}

{% block main %}
    <table class="row note">
        <tr>
            <td class="wrapper last">
                <h4>{{ 'Hello %user_name%!' | trans({
                    '%user_name%': user.getName(),
                }) }}</h4>
                <p>{{ 'Please click on the link below to confirm your email address.' | trans }}</p>
                <table class="twelve columns">
                    <tr>
                        <td class="panel">
                            <a href="{{ url('my.settings', { new_email_code: user.getNewEmailCode() }) }}" target="_blank">
                                {{ url('my.settings', { new_email_code: user.getNewEmailCode() }) }}
                            </a>
                        </td>
                        <td class="expander"></td>
                    </tr>
                </table>
                <p>{{ 'If the link does not work, copy and paste it into your browser window.' | trans }}</p>
            </td>
        </tr>
    </table>
{% endblock %}
