{% extends 'AppBundle:Layouts:email.html.twig' %}

{% block main %}
    <table class="row note">
        <tr>
            <td class="wrapper last">
                <h4>{{ 'emails.general.greeting' | trans({
                    '%user_name%': user.getName(),
                }) }}</h4>
                <p>
                     <b>{{ 'Username' | trans }}:</b>
                     {{ user.getUsername() }}
                </p>
                <p>{{ 'emails.user.signup.click_link_below_to_activate_account.text' | trans }}</p>
                <table class="twelve columns">
                    <tr>
                        <td class="panel">
                            <a href="{{ url('signup', {
                                code: user.getActivationCode(),
                            }) }}"
                                target="_blank">
                                {{ url('signup', {
                                    code: user.getActivationCode(),
                                }) }}
                            </a>
                        </td>
                        <td class="expander"></td>
                    </tr>
                </table>
                <p>{{ 'emails.general.copy_paste_link_into_browser.text' | trans }}</p>
            </td>
        </tr>
    </table>
{% endblock %}
