<nav id="primary-navigation"
    class="navigation navbar navbar-default navbar-static-top"
    role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#primary-navigation-collapse">
                <span class="sr-only">
                    {{ 'Toggle navigation' | trans }}
                </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('home') }}">
                <div class="inline-block">
                    {{ globals.app_name }}
                </div>
            </a>
        </div>
        <div id="primary-navigation-collapse" class="collapse navbar-collapse">
            {% block primary_navigation %}
                <ul id="primary-navigation-list"
                    class="navigation-list nav navbar-nav">
                    <li>
                        <a href="{{ url('home') }}">
                            {{ 'Home' | trans }}
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ url('sonata_admin_dashboard') }}">
                                {{ 'Admin' | trans }}
                            </a>
                        </li>
                    {% endif %}
                </ul> <!-- /#primary-navigation-list -->
                <ul id="right-navigation-list"
                    class="nav navbar-nav navbar-right">
                    {% if app.user and is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li>
                            <a href="?_switch_user=_exit">
                                {{ 'Back to admin' | trans }}
                            </a>
                        </li>
                    {% endif %}
                    {% if app.user and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="dropdown">
                            <a href="#"
                                class="dropdown-toggle"
                                data-toggle="dropdown">
                                {{ app.user.getName() }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ url('my.profile') }}">
                                        {{ 'Profile' | trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url('my.settings') }}">
                                        {{ 'Settings' | trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url('my.password') }}">
                                        {{ 'Password' | trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url('my.actions') }}">
                                        {{ 'Actions' | trans }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url('my.tfa') }}">
                                        {{ '2FA' | trans }}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ url('logout') }}">
                                        {{ 'Logout' | trans }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url('login') }}">
                                {{ 'Login' | trans }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            {% endblock %}
        </div> <!-- /#primary-navigation-collapse -->
    </div> <!-- /.container -->
</nav> <!-- /#primary-navigation -->
