{% extends 'AppBundle:Layouts:default.html.twig' %}

{% block title %}{{ 'Backup codes' | trans }} | {{ 'My Two-factor authentication' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>
        {{ 'My Two-factor authentication' | trans }}
        <a href="{{ url('my.two_factor_authentication') }}"
            class="btn btn-default">
            {{ 'Back' | trans }}
        </a>
    </h1>
    <h2>{{ 'Backup codes' | trans }}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Code', 'ubc.code') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Used', 'ubc.usedAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Time', 'ubc.createdAt') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for userTrustedDevices in pagination %}
                    <tr>
                        <td>{{ userTrustedDevices.getCode() }}</td>
                        <td>{{ userTrustedDevices.getUsedAt()
                            ? userTrustedDevices.getUsedAt() | date(globals.date_time_format)
                            : '' }}</td>
                        <td>{{ userTrustedDevices.getCreatedAt() | date(globals.date_time_format) }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">
                            {{ 'my.two_factor_authentication.trusted_devices.no_trusted_devices_yet' | trans }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
