{% extends 'AppBundle:Layouts:default.html.twig' %}

{% block title %}{{ 'Delete' | trans }} | {{ 'My Two-factor authentication' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'My Two-factor authentication' | trans }}</h1>
    <h2>{{ 'Delete your two-factor authentication method' | trans }}</h2>
    <div class="alert alert-danger">
        {{ 'This action is ireversible. Are you sure you want to do this?' | trans }} <br /> <br />
        <a class="btn btn-danger"
            href="{{ url('my.two_factor_authentication.delete', {
                id: user_two_factor_method.getId(),
                action: 'confirm',
            }) }}">
            {{ 'Yes' | trans }}
        </a>
        <a class="btn btn-default"
            href="{{ url('my.two_factor_authentication') }}">
            {{ 'Back' | trans }}
        </a>
    </div>
{% endblock %}
