{% extends 'AppBundle:Layouts:default.html.twig' %}

{% block title %}{{ 'My Two-factor authentication' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>
        {{ 'My Two-factor authentication' | trans }}
        <a class="btn btn-sm btn-primary"
            href="{{ url('my.two_factor_authentication.create') }}">
            {{ 'New' | trans }}
        </a>
    </h1>
    {% if user_two_factor_methods %}
        <div class="list-group">
            {% for user_two_factor_method in user_two_factor_methods %}
                <div class="list-group-item">
                    <h4 class="list-group-item-heading clearifx">
                        {{ user_two_factor_method.getMethod() | humanize | trans }}
                        <a class="pull-right text-danger"
                            href="{{ url('my.two_factor_authentication.delete', {
                                id: user_two_factor_method.getId(),
                            }) }}"
                            title="{{ 'Remove method' | trans }}">
                            <i class="fa fa-close"></i>
                        </a>
                    </h4>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info">
            {{ 'You do not have any two factor methods set up yet.' | trans }}
        </div>
    {% endif %}
{% endblock %}
