{% extends 'AppBundle:Layouts:default.html.twig' %}

{% block title %}{{ 'New' | trans }} | {{ 'My Two-factor authentication' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>
        {{ 'My Two-factor authentication' | trans }}
        <a class="btn btn-sm btn-default"
            href="{{ url('my.two_factor_authentication') }}">
            {{ 'Back' | trans }}
        </a>
    </h1>
    <h2>{{ 'Create your new two-factor authentication method' | trans }}</h2>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.method) }}
        <button type="submit"
            class="btn btn-primary btn-lg btn-block" />
            {{ 'Save' | trans }}
        </button>
    {{ form_end(form) }}
{% endblock %}
