<h3>{{ 'Email' | trans }}</h3>
<div class="form-group">
    {% if app.user.isEmailActivated() %}
        <i class="fa fa-check-circle-o"
            title="{{ 'my.settings.email.is_activated.text' | trans({
                '%activated_at%': app.user.getEmailActivatedAt() | date(globals.date_time_format)
            }) | meaning('Available arguments: %activated_at%') }}"
        ></i>
    {% endif %}
    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    {{ form_errors(form.email) }}
</div>
{% if app.user.isEmailActivated() == false %}
    <div class="alert alert-info">
        {{ 'my.settings.email.is_not_activated_yet.text' | trans({
            '%resend_link%': url('my.settings', {
                action: 'resend_email_activation',
            }),
        }) | raw | meaning('Available arguments: %resend_link%') }}
    </div>
{% endif %}
{% if app.user.getNewEmail() %}
    <div class="alert alert-info">
        {{ 'my.settings.new_email.request.text' | trans({
            '%email%': app.user.getNewEmail(),
            '%resend_link%': url('my.settings', {
                action: 'resend_new_email',
            }),
        }) | raw | meaning('Available arguments: %email%, %resend_link%') }}
        <br /> <br />
        <a class="btn btn-default btn-sm"
            href="{{ url('my.settings', {
                action: 'cancel_new_email',
            }) }}">
            {{ 'Cancel' | trans }}
        </a>
    </div>
{% endif %}
