{% extends 'AppBundle:Layouts:default.html.twig' %}

{% block title %}{{ 'Two-factor authentication' | trans }} | {{ 'Login' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>{{ 'Login' | trans }}</h1>
                <h2>{{ 'Two-factor authentication' | trans }}</h2>
                {% if method == 'email' %}
                    {% include 'AppBundle:Content:login/tfa/_method_email.html.twig' %}
                {% elseif method == 'sms' %}
                    {% include 'AppBundle:Content:login/tfa/_method_sms.html.twig' %}
                {% elseif method == 'authenticator' %}
                    {% include 'AppBundle:Content:login/tfa/_method_authenticator.html.twig' %}
                {% elseif method == 'recovery_code' %}
                    {% include 'AppBundle:Content:login/tfa/_method_recovery_code.html.twig' %}
                {% else %}
                    <div class="alert alert-danger">
                        {{ 'Oh, something strange happened. Please select one of the methods below.' | trans }}
                    </div>
                {% endif %}
                {% if alternative_methods is not empty %}
                    <hr />
                    <h3>{{ 'Alternative methods' | trans }}</h3>
                    <div class="list-group">
                        {% for alternative_method_key, alternative_method_label in alternative_methods %}
                            <a class="list-group-item"
                                href="{{ url('login.tfa', {
                                    method: alternative_method_key,
                                }) }}">
                                {{ alternative_method_label }}
                            </a>
                        {% endfor %}
                    </div>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
