{% extends 'AppBundle:Layouts:default.html.twig' %}

{% block title %}{{ 'Two-factor authentication' | trans }} | {{ 'Login' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <div class="container text-center">
        <h1>{{ 'Login' | trans }}</h1>
        <h2>{{ 'Two-factor authentication' | trans }}</h2>
        {% if method == 'email' %}
            <p>{{ 'Please enter the code we just sent to your email down below:' | trans }}</p>
            <form method="post">
                <div class="form-group">
                    <label for="code-input">
                        {{ 'Code' | trans }}
                    </label>
                    <input id="code-input"
                        class="form-control input-lg text-center"
                        type="text"
                        name="code"
                        value="{{ code }}">
                </div>
                <button class="btn btn-block btn-lg btn-primary"
                    type="submit">
                    {{ 'Submit' | trans }}
                </button>
            </form>
        {% endif %}
    </div>
{% endblock %}
