{% extends 'AppBundle:Layouts:default.html.twig' %}

{% block title %}{{ 'Two-factor authentication' | trans }} | {{ 'Login' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>{{ 'Login' | trans }}</h1>
                <h2>{{ 'Two-factor authentication' | trans }}</h2>
                {% if method == 'email' %}
                    {% include 'AppBundle:Content:login/two_factor_authentication/_method_email.html.twig' %}
                {% elseif method == 'sms' %}
                    {% include 'AppBundle:Content:login/two_factor_authentication/_method_sms.html.twig' %}
                {% elseif method == 'two_factor_authenticator' %}
                    {% include 'AppBundle:Content:login/two_factor_authentication/_method_two_factor_authenticator.html.twig' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
