{% extends 'AppBundle:Layouts:default.html.twig' %}

{% block title %}{{ 'Two-factor authentication' | trans }} | {{ 'Login' | trans }} | {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ 'Login' | trans }}</h1>
    <h2>{{ 'Two-factor authentication' | trans }}</h2>
    TODO
{% endblock %}
