{% extends 'AppBundle:Layouts:default.html.twig' %}

{% block content %}
    <div id="main" role="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a class="list-group-item {{ 'my.profile' in app.request.attributes.get('_route')
                            ? 'active'
                            : '' }}"
                            href="{{ url('my.profile') }}">
                            {{ 'Profile' | trans }}
                        </a>
                        <a class="list-group-item {{ 'my.settings' in app.request.attributes.get('_route')
                            ? 'active'
                            : '' }}"
                            href="{{ url('my.settings') }}">
                            {{ 'Settings' | trans }}
                        </a>
                        <a class="list-group-item {{ 'my.password' in app.request.attributes.get('_route')
                            ? 'active'
                            : '' }}"
                            href="{{ url('my.password') }}">
                            {{ 'Password' | trans }}
                        </a>
                        <a class="list-group-item {{ 'my.actions' in app.request.attributes.get('_route')
                            ? 'active'
                            : '' }}"
                            href="{{ url('my.actions') }}">
                            {{ 'Actions' | trans }}
                        </a>
                        <a class="list-group-item {{ 'my.devices' in app.request.attributes.get('_route')
                            ? 'active'
                            : '' }}"
                            href="{{ url('my.devices') }}">
                            {{ 'Devices' | trans }}
                        </a>
                        {% if route_exists('my.tfa') %}
                            <a class="list-group-item {{ 'my.tfa' in app.request.attributes.get('_route')
                                ? 'active'
                                : '' }}"
                                href="{{ url('my.tfa') }}">
                                {{ '2FA' | trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-9">
                    {% include 'AppBundle:Layouts:default/_flash_messages.html.twig' %}
                    {% block main %}{% endblock %}
                </div>
            </div>
        </div>
    </div> <!-- /#main -->
{% endblock %}
